ul {
  text-align: center;
  color: #000;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.btn-cate {
  border-radius: 2rem;
  border: 1px solid #e6e6e6;
  color: #8d8d8d;
  margin: 3.2rem 0.4rem;
}

.btn-cate:hover {
  background-color: #47c9e5;
  color: #fff;
  border-radius: 2rem;
  border: 1px solid #e6e6e6;
}

.news {
  width: 19rem;
}

.news__img {
  border-radius: 100%;
  width: 4.6rem;
  height: 4.6rem;
}

.news__categories {
  margin: 0;
}

.banner {
  background-image: url("../images/Blog_title_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 29rem;
}

.monMenu {
  padding-top: 2rem;
}

.monMenu__liens {
  color: rgba(255, 255, 255, 0.85);
  padding: 0 15px;
  font-size: 1.1rem;
  font-weight: 700;
  float: left;
}

.monMenu__liens:hover {
  color: #fff;
  text-decoration: none;
}

.monMenu__icons {
  color: #fff;
  margin-left: 0.5rem;
}

.home {
  padding-top: 10rem;
  color: #fff;
}

.home__title {
  font-size: 3rem;
}

.home__title::selection {
  background-color: #47c9e5;
}

.home__text::selection {
  background-color: #47c9e5;
}

.count {
  top: -0.2rem;
  right: 0.5rem;
  position: absolute;
  background-color: #47c9e5;
  border-radius: 20px;
  font-weight: 500;
  color: #fff;
  padding: 0.01rem 0.3rem;
}
